
  
        
            <div class="select-none cursor-pointer hover:bg-gray-50 flex flex-1 items-center p-4">
                <div class="flex-1 pl-1">
                <div class="font-medium dark:text-white">{{restaurant_name}}</div>
                </div>
            </div>
