    <div class="">
      <h2 class="restaurant_name">
        {{restaurant_name}}
      </h2>
      <a href="/api/review/{{id}}">
        <div class="writer_review">
          Write a review
          <div class="m-3">
            <span class="flex items-center mt-1">
              <img src="/images/star.svg" />
              <img src="/images/star.svg" />
              <img src="/images/star.svg" />
              <img src="/images/star-half-fill.svg" />
              <img src="/images/star-no-fill.svg" />
            </span>
          </div>
        </div>
      </a>
    </div>
