<div id="stars">
  <a class="ion-android-star b1"></a>
  <a class="ion-android-star b2"></a>
  <a class="ion-android-star b3"></a>
  <a class="ion-android-star b4"></a>
  <a class="ion-android-star b5"></a>
</div>