@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    font-family: 'Readex Pro', sans-serif;
}

@layer components {
    .card {
        @apply
        flex 
        bg-white text-gray-700 w-24
        shadow-lg
        rounded-md overflow-hidden
        mt-5
    }
    .badge {
        @apply
        px-3 py-1 rounded-full bg-gray-100 p-5 h-10 w-20 text-left
    }

    .restaurant_name {
        @apply
        font-semibold text-3xl 
        overflow-ellipsis overflow-hidden whitespace-nowrap text-gray-800 
        bg-red-100
        p-3
        mt-0 ml-0 mr-0 shadow-md
    }

    .dashboard-card{
        @apply
        font-semibold text-2xl 
        overflow-ellipsis overflow-hidden whitespace-nowrap text-gray-800 
        bg-red-100 p-3 mt-0 ml-0 mr-0 shadow-md
    }
    .user_comment_name {
        @apply
        font-semibold text-gray-800 
        p-3 w-60 underline

    }

    .comment_text {
        @apply
        text-gray-800 pl-3
    }

    .writer_review {
        @apply
        flex flex-col items-center mr-2 ml-2 mt-0  
        shadow-lg  overflow-hidden h-52 bg-gray-50
    }
    .nav-container {
        @apply
        relative w-full p-3 shadow-md shadow-red-50 bg-red-100
    }
    .menu_red50 {
        @apply
        hover:bg-red-50 bg-gray-50 shadow-xl p-3  hover:font-semibold rounded-full
    }

    .menu_red50_md {
        @apply
        hover:bg-red-50 shadow-xl p-3
    }

    .background-image {
        @apply
        w-full h-screen bg-[url("/images/pexels-polina-chistyakova-12290139.jpg")] 
        bg-cover bg-center bg-no-repeat
    }
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

.listItemSearch ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -16px;
    margin-left: 50px;
    width: 320px;
    background: lightgray;
    opacity: 90%;
}

.listItemSearch ul li {
    margin: 10;
    padding: 10px 15px;
    cursor: pointer;
}

.listItemSearch ul li:hover {
    background: white;
}

*:focus {
    outline: none;
}

@media only screen and (max-width: 769px) {
    /* For desktop: */
    .listItemSearch ul {
        margin-left: 18px;
    }
  }