<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Fam Food Finds</title>
  </head>
  <body>
    <main class="flex items-center justify-center h-screen min-h-screen bg-gray-100 text-gray-800 antialiased px-4 py-6 flex flex-col sm:py-12">
      {{{ body }}}
    </main>
  </body>
</html>