<div class="flex items-center">
  <div class="flex-1 max-w-4xl mx-auto p-10">
    <ul class="grid grid-cols-1 gap-4">
      <li class=" bg-white rounded-lg shadow border">
        <div class="">
          <div class="restaurant_name">
            <p>Fung Wong</p>
          </div>
          <div class="review_and_comment">
            <div class="review_rate m-5 grid grid-cols-2 items-center justify-center">
                <div class="">
                  <ul class="flex items-center">
                    <li><img src="/images/star.svg" class="w-10 h-10"></li>
                    <li><img src="/images/star.svg" class="w-10 h-10"></li>
                    <li><img src="/images/star.svg" class="w-10 h-10"></li>
                    <li><img src="/images/star-half-fill.svg" class="w-10 h-10"></li>
                    <li><img src="/images/star-no-fill.svg" class="w-10 h-10"></li>
                  </ul>
                </div>  
                <div class="badge">Rating...</div> 
            </div>
            <div class="bg-white shadow-md p-5">
              <div class="mt-5">
                <div class="form">
                  <div class="flex-auto w-full md-1 text-xs space-y-2">
                    <label class=" text-neutral-600 py-2">Comment</label>
                    <textarea class="h-28 w-full appearance-none block bg-gray-50 text-gray-600 border e"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-row justify-end">
              <button class="w-48 mt-2 mr-3 ml-3 mb-3 bg-gray-600 px-5 py-2 text-sm shadow-md tracking-wider text-white rounded-full hover:bg-green-400 hover:shadow-lg focus:outline-none">Edit</button>
              <button class="w-48 mt-2 mr-3 ml-3 mb-3 bg-gray-600 px-5 py-2 text-sm shadow-md tracking-wider text-white rounded-full hover:bg-red-400 hover:shadow-lg focus:outline-none">Delete</button>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<script src="/javascript/edit-review.js"></script>