<div class="m-0 flex flex-col items-center justify-center px-4 py-4 md:px-12 mt-20">
  <div>
            <form class="m-0 flex flex-col items-center justify-center px-4 py-4 md:px-12 mt-20" autocomplete="off">
              <div class="flex">
                <div class="flex items-center justify-center">
                  <div class="flex border-2 rounded mb-0">
                    <input type="text" class="px-4 py-2 w-80" placeholder="Search by restaurant name..." id="restaurant_name" />
                    <button class="flex items-center justify-center px-4 border-l hover:bg-red-50 bg-gray-50 shadow-xl p-3" id="btn-search">
                      <svg
                        class="hover:text-darkGrayishBlue w-6 h-6 text-gray-600"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
                        ></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
      </form>
        {{!-- list items for search box --}}
      <div class="listItemSearch hidden" id="list-items">
        <ul id="menuItemsSearch">
          {{#each restaurants as |restaurant|}}
            {{> listItems restaurant}}
          {{/each}}
        </ul>
      </div>
  </div>
</div>

{{!-- restaurant items --}}
  <div class="" id="restaurant-container">
    <div class="flex-1 max-w-4xl mx-auto p-10">
      {{!-- dropdown list Categories --}}
      <div class=" flex align-middle items-center justify-center gap-2 bg-gray-100 p-2 w-72 mr-0 justify-items-end">
        <p class="shadow-md  w-50 bg-gray-50 pl-2 pr-2 pt-2 pb-2">Search by:</p>
        <div class="dropdown inline-block relative">
          <button class="bg-white-300 border shadow-md text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center justify-start" id="btnCategories">
            <span class="dropdownwidth mr-1">Categories</span>
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
          </button>
          <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 w-36" id="itemCategoris">
              {{#each categories as |category|}}
                <a><li class="rounded-t bg-gray-200 py-2 px-4 block whitespace-no-wrap hover:bg-red-50 border-b"> {{category.category_name}}</li></a>
              {{/each}}
          </ul>
        </div>
      </div>
      {{!-- list restaurants --}}
      <div class="" id="restaurant-container">
        <ul class="grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-8 mt-3">  
        {{#each restaurants as |restaurant|}}
          <li class="">{{> restaurantItem restaurant}}</li>
        {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="/javascript/script.js"></script>
<script src="/javascript/search-restaurant.js"></script>