<div>
  <div class="flex items-center justify-center px-4 py-4 md:px-12 mt-20">
    <form>
      <div class="flex">
        <div class="flex items-center justify-center">
          <div class="flex border-2 rounded">
            <input type="text" class="px-4 py-2 w-80" placeholder="Search..." />
            <button class="flex items-center justify-center px-4 border-l">
              <svg
                class="hover:text-darkGrayishBlue w-6 h-6 text-gray-600"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

<div class="">
  <div class="flex-1 max-w-4xl mx-auto p-10">
    <ul class="grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-8">
      <li class="rounded-lg shadow-xl">
        <div class="p-5">
            <h2 class="restaurant_name" title="Spice of America">Spice of America</h2>
            <p>Do you want recommend this business?</p>
            <div class="pt-10">
              <span class="flex items-center mt-1">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star-half-fill.svg">
              <img src="/images/star-no-fill.svg">
              </span>
            </div>
        </div>
      </li>
            <li class="rounded-lg shadow-xl">
        <div class="p-5">
            <h2 class="restaurant_name" title="Spice of America">Spice of America</h2>
            <p>Do you want recommend this business?</p>
            <div class="pt-10">
              <span class="flex items-center mt-1">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star-half-fill.svg">
              <img src="/images/star-no-fill.svg">
            </span>
            </div>
        </div>
      </li>
            <li class="rounded-lg shadow-xl">
        <div class="p-5">
            <h2 class="restaurant_name" title="Spice of America">Spice of America</h2>
            <p>Do you want recommend this business?</p>
            <div class="pt-10">
              <span class="flex items-center mt-1">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star-half-fill.svg">
              <img src="/images/star-no-fill.svg">
            </span>
            </div>
        </div>
      </li>
            <li class="rounded-lg shadow-xl">
        <div class="p-5">
            <h2 class="restaurant_name" title="Spice of America">Spice of America</h2>
            <p>Do you want recommend this business?</p>
            <div class="pt-10">
              <span class="flex items-center mt-1">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star-half-fill.svg">
              <img src="/images/star-no-fill.svg">
            </span>
            </div>
        </div>
      </li>
            <li class="rounded-lg shadow-xl">
        <div class="p-5">
            <h2 class="restaurant_name" title="Spice of America">Spice of America</h2>
            <p>Do you want recommend this business?</p>
            <div class="pt-10">
              <span class="flex items-center mt-1">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star-half-fill.svg">
              <img src="/images/star-no-fill.svg">
            </span>
            </div>
        </div>
      </li>
            <li class="rounded-lg shadow-xl">
        <div class="p-5">
            <h2 class="restaurant_name" title="Spice of America">Spice of America</h2>
            <p>Do you want recommend this business?</p>
            <div class="pt-10">
              <span class="flex items-center mt-1">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star-half-fill.svg">
              <img src="/images/star-no-fill.svg">
            </span>
            </div>
        </div>
      </li>
            <li class="rounded-lg shadow-xl">
        <div class="p-5">
            <h2 class="restaurant_name" title="Spice of America">Spice of America</h2>
            <p>Do you want recommend this business?</p>
            <div class="pt-10">
              <span class="flex items-center mt-1">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star.svg">
              <img src="/images/star-half-fill.svg">
              <img src="/images/star-no-fill.svg">
            </span>
            </div>
        </div>
      </li>
    </ul>
  <div>
</div>
</div>