
<div class="text-gray-800 antialiased px-4 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl mx-auto text-center">
    <span class="text-2xl font-light">Login to your account</span>
    <form class="login-form">
      <div class="relative mt-4 bg-white shadow-md sm:rounded-lg text-left">
        <div class="h-2 bg-indigo-400 rounded-t-md"></div>
        <div class="py-6 px-8">
          <label class="block font-semibold">Username<label>
          <input type="text" placeholder="Username" class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md" id="username-login" />
          <label class="block mt-3 font-semibold">Password<label>
          <input type="password" placeholder="Password" class=" border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-1 focus:ring-indigo-600 rounded-md" id="password-login" />
          <div class="flex justify-between items-baseline">
            <button class="mt-4 bg-indigo-500 text-white py-2 px-6 rounded-lg" type="submit">Login</button>
            <a href="#" class="text-sm hover:underline">Forgot password?</a>
          </div>
          <label class="block mt-3 font-semibold">Not account yet? <a href="/signup" class="text-sm hover:underline">Sign Up</a>.</label>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/javascript/login.js"></script>