<div class="">
  <h2 class="">New Restuarant</h2>
  <form class="" id="new-restaurant-form">
    <input type="hidden" name="restaurant-id" value="{{restaurant.id}}"/>
    <div>
      <label class="">Restaurant Name:</label>
      <input class="" type="text" name="restaurant-name"/>
    </div>
    <div>
      <label class="">Restaurant URL:</label>
      <input class="" type="text" name="restaurant-url"/>
    </div>
    <div class=" flex items-end justify-end gap-4">
        <p>Categories:</p>
            <button class="relative flex justify-start items-center focus:outline-none shadow text-gray-600 border rounded focus:ring ring-gray-200 group">
                <p class="px-4">Choose...</p>
                <span class="border-l hover:bg-gray-100">
                    <i class='fas fa-angle-down hover:text-darkGrayishBlue w-6 h-6 text-gray-600'></i>
                </span>
                <div class="absolute hidden group-focus:block top-full min-w-full w-max bg-white shadow-md mt-1 rounded">
                    <ul class="text-left border rounded">
                      {{#each categories as |category|}}
                          <a href=""><li class="px-4 py-1 hover:bg-red-50 border-b"> {{category.category_name}}</li></a>
                      {{/each}}
                    </ul>
                </div>
            </button>
    </div>
 
    <button class="btn btn-primary" type="submit">Post</button>
  </form>
</div>
<script src="/javascript/new-restaurant.js"></script>